.players_menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.players_menu_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
  padding: 10px;
  margin-bottom: 10px;
}

.players_menu_card_choosen{
  box-shadow:rgb(228 255 0) 0px 1px 50px 10px;
}

.players_menu_money {
  display: flex;
  height: 40px;
  padding: 0 10px;
  align-items: center;
}

.players_menu_money img {
  height: 30px;
}

.players_menu_money p {
  margin: 0 0 0 5px;
  font-size: 25px;
}

.players_menu_prison_card {
  display: flex;
  height: 25px;
  padding: 0 10px;
  align-items: center;
}

.players_menu_prison_card img {
  height: 25px;
}

.players_menu_prison_card p {
  margin: 0 0 0 5px;
  font-size: 15px;
}

.swap_realtys_row{
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
}

.swap_realtys_row::-webkit-scrollbar {
  height: 5px;
}

/* Track */

/* Handle */
.swap_realtys_row::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

/* Handle on hover */
.swap_realtys_row::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swap_realty{
  /* border: 1px solid black; */
  flex: 0;
  width: fit-content;
  border-radius: 10px;
  /* overflow: hidden; */
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}



.swap_realty_choosen{
  box-shadow: rgb(0, 0, 0) 0px 2px 10px;
}

.swap_realty_color{
  height: 15px;
  border-radius: 10px 10px 0 0;
}

.swap_realty_text{
  width: fit-content;
  white-space: nowrap;
  padding: 0 5px;
}