.players_menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
  
  .players_menu_card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .players_menu_money {
    display: flex;
    height: 40px;
    padding: 0 10px;
    align-items: center;
  }
  
  .players_menu_money img {
    height: 30px;
  }
  
  .players_menu_money p {
    margin: 0 0 0 5px;
    font-size: 25px;
  }
  
  .players_menu_prison_card {
    display: flex;
    height: 25px;
    padding: 0 10px;
    align-items: center;
  }
  
  .players_menu_prison_card img {
    height: 25px;
  }
  
  .players_menu_prison_card p {
    margin: 0 0 0 5px;
    font-size: 15px;
  }