.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.players_menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.players_menu_card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 10px;
  margin-bottom: 10px;
}

.players_menu_money {
  display: flex;
  height: 40px;
  padding: 0 10px;
  align-items: center;
}

.players_menu_money img {
  height: 30px;
}

.players_menu_money p {
  margin: 0 0 0 5px;
  font-size: 25px;
}

.players_menu_prison_card {
  display: flex;
  height: 25px;
  padding: 0 10px;
  align-items: center;
}

.players_menu_prison_card img {
  height: 25px;
}

.players_menu_prison_card p {
  margin: 0 0 0 5px;
  font-size: 15px;
}

.field {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  background-color: orange;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.field_side {
  display: flex;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.field_angel {
  width: 300px;
}

.color {
  height: 85px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.field_info {
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.field_info_left {
  display: flex;
  flex-direction: column;
  /* width: 215px; */
  justify-content: space-between;
  transform: rotate(90deg);
}

.field_info_right {
  display: flex;
  flex-direction: column;
  /* width: 215px; */
  justify-content: space-between;
  transform: rotate(270deg);
}

.field_with_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
}

.left {
  transform: rotate(90deg);
}

.right {
  transform: rotate(270deg);
}

.field_img_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.name,
.cost {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.field_img {
  width: 150px;
  height: 200px;
}

.player_figure{
  position: absolute;
}

.big_place {
  flex: 1;
  background-color: orange;
}